body {
    background-color: #ffffff;
}

#heading {
    clear: both;
    height: 20%;
    margin-bottom: 5%;
    border-style: solid;
    padding: 50px;
}

.name {
    text-align: center;
}

#nm {
    float: left;
    font-size: 30px;
    width: 300px;
    background-color: #4aaaa5;
}

.menu {
    text-align: center;
}

#abt { 
    float: right;
    width: 10%;
    border-right-style: solid;
    border-right-width: 1.5px;
    border-right-color: rgb(112, 128, 144, .5);
    
}

#port {
    float: right;
    width: 10%;
    border-right-style: solid;
    border-right-width: 1.5px;
    border-right-color: rgb(112, 128, 144, .5);
}

#con {
    float: right;
    width: 10%;
}

#am_box {
    clear: both;
    margin-left: 5%;
    margin-right: 5%;
    width: 960;
    border-style: solid;
    padding: 50px;
}

#am {
    clear: both;
    border-bottom-style: solid;
    border-bottom-color: gray;
    color: #4aaaa5;
}