body {
    background-color: #ffffff;
}

#nm {
    float: left;
    width: 300px;
    background-color: #4aaaa5;
}

#a {
    float: right;
    width: 10%;
    border-right-style: solid;
    border-right-color: slategrey;
    padding: 0%;
    align-content: center;
}

#p {
    float: right;
    width: 10%;
}

#c {
    float: right;
    width: 10%;
}

#am_box {
    clear: both;
    margin-left: 5%;
    margin-right: 5%;
    border-style: solid;
    padding: 50px;
}

#am {
    clear: both;
    border-bottom-style: solid;
    border-bottom-color: gray;
    color: #4aaaa5;
}